<%- include("partials/header") -%>
<link rel="stylesheet" href="css/home2.css" />
<style>
  body {
    overflow: hidden;
  }
</style>
<div id="vanta">
  <!-- First Sectiom -->

  <div class="first-section">
    <img
      src="images/commUnity-logo.png"
      alt="commUnity-logo"
      class="first-section-logo"
    />
    <h1 class="first-section-tagline">
      Build a stronger community,<span style="color: #00adb5">together.</span>
    </h1>
    <button class="button" id="getStartedButton">
      Create your Unity Thread
    </button>
  </div>
</div>

<!-- 

<div class="post-container-home">
  <h2 class="section-title-home">Latest Unity Threads of your Locality</h2>
  <div class="post-scroll-home">
    <% posts.forEach(function(post) { %>
      <div class="post-card-home">
        <img src="<%= post.Image %>" alt="<%= post.Title %>" class="post-image-home" />
        <div class="post-content-home">
          <h3 class="post-title-home"><%= post.Title %></h3>
          <p class="span"><%= post.Category %></p>
          <a href="/post" class="post-link-home">Read More</a>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<div class="section-4-title"><h2>Connect with your Locality</h2></div>
<div class="fourth-section" id="section4">
  <div class="right-container">
    <h1 class="general-discussions-h1">
      Participate in
      <span style="color: #fff"><br />General Discussions </span><br />
      of your community.
    </h1>
  </div>
  <div id="left-container">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.1/lottie.min.js"></script>
    <script>
      lottie.loadAnimation({
        container: document.getElementById("left-container"),
        renderer: "svg",
        loop: true,
        autoplay: true,
        path: "images/Group-Discussion.json",
      });
    </script>
    <h2 class="connect-home"><a href="/chat">Lets Connect</a></h2>
  </div>
  
</div> -->

<script>
  document
    .getElementById("getStartedButton")
    .addEventListener("click", function () {
      window.location.href = "/compose";
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.clouds.min.js"></script>
<script type="text/javascript">
  VANTA.CLOUDS({
    el: "#vanta",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.0,
    minWidth: 200.0,
  });
</script>

<!-- <%- include("partials/footer") -%> -->
